{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Debricked API Documentation",
    "contact": {}
  },
  "host": "debricked.com",
  "basePath": "/api/1.0/open/",
  "securityDefinitions": {
    "JWT": {
      "type": "apiKey",
      "description": "The token you get from: \"curl -X POST https://debricked.com/api/login_check -d _username=YOUR_USERNAME -d _password=YOUR_PASSWORD\", prefixed with \"Bearer\". Example value: \"Bearer YOUR_VERY_LONG_TOKEN\"",
      "name": "Authorization",
      "in": "header"
    }
  },
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/files/supported-formats": {
      "get": {
        "description": "",
        "summary": "Get supported dependency file formats",
        "tags": [
          "Dependency files management"
        ],
        "operationId": "list-supported-dependency-file-formats",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returned when successful.",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          }
        }
      }
    },
    "/ci/upload/status": {
      "get": {
        "description": "",
        "summary": "Get current status of a CI upload. An array consisting of progress and amount of vulnerabilities found (as well as the number of vulnerabilities marked as unaffected) is returned.",
        "tags": [
          "Dependency files management",
          "Vulnerability management"
        ],
        "operationId": "get-ci-upload-status",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ciUploadId",
            "in": "query",
            "required": true,
            "type": "string",
            "pattern": "\\d+",
            "description": ""
          },
          {
            "name": "extendedOutput",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "If true, returns an extended output containing stats for each file. When scan is complete, the result can only be fetched once per hour with this option enabled."
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successful and scan is completed.",
            "headers": {}
          },
          "201": {
            "description": "Returned when queue times are long and the scan is not completed.",
            "headers": {}
          },
          "202": {
            "description": "Returned when scan is in progress.",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "403": {
            "description": "Returned when you don't have access to one or more uploads/files.",
            "headers": {}
          },
          "404": {
            "description": "Returned when given upload doesn't exist.",
            "headers": {}
          }
        }
      }
    },

      "patch": {
        "description": "",
        "summary": "Edit value `default rules enabled` for the current user.",
        "tags": [
          "Admin"
        ],
        "operationId": "Editvalue`defaultrulesenabled`forthecurrentuser.",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/AdminUserDefaultRulesEnabledRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Returned when successfully edited user.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          }
        }
      }
    },
    
    "/admin/request-logs/get-request-logs": {
      "get": {
        "description": "",
        "summary": "Filter and get the request logs in a paginated fashion. Non-admins will only be able to access their own logs.",
        "tags": [
          "Admin",
          "Request logging"
        ],
        "operationId": "get-request-logs",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "eventTypeId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Filter by eventTypeId"
          },
          {
            "name": "userEmail",
            "in": "query",
            "required": false,
            "type": "string",
            "pattern": ".+",
            "description": "Filter by user email"
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "type": "string",
            "pattern": ".+",
            "description": "Filter by a specific url"
          },
          {
            "name": "ipAddress",
            "in": "query",
            "required": false,
            "type": "string",
            "pattern": ".+",
            "description": "Filter by a specific IP address"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "type": "string",
            "pattern": "\\d{4}-\\d{2}-\\d{2}(T\\d{2}:\\d{2}:\\d{2})?(\\+\\d{2}:\\d{2})?",
            "description": "Starting timestamp to fetch logs, e.g. 2018-05-10T15:52:01"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "type": "string",
            "pattern": "\\d{4}-\\d{2}-\\d{2}(T\\d{2}:\\d{2}:\\d{2})?(\\+\\d{2}:\\d{2})?",
            "description": "Ending timestamp to fetch logs, e.g. 2021-05-10T15:52:01"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Page number for paginated content"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Amount of logs to return per page, maximum 50"
          },
          {
            "name": "excludeUnclassified",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Setting this parameter to true excludes the logs which do not have an associated labeled event"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successfully fetched the logs",
            "schema": {
              "$ref": "#/definitions/AdminRequestLogsGetRequestLogsResponse"
            },
            "headers": {}
          },
          "404": {
            "description": "Returned when user is not found",
            "headers": {}
          },
          "403": {
            "description": "Returned when attempted to access other users' logs while not being an admin",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          }
        }
      }
    },
    "/admin/request-logs/get-events": {
      "get": {
        "description": "",
        "summary": "Get event names and ids",
        "tags": [
          "Admin",
          "Request logging"
        ],
        "operationId": "list-events",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returned when successfully fetched all the events",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          }
        }
      }
    },  
    
    "/repository-settings/available-use-cases": {
      "get": {
        "description": "Get a list of all available use cases and their IDs.",
        "summary": "Get a list of all available use cases and their IDs.",
        "tags": [
          "Repository settings"
        ],
        "operationId": "list-use-cases",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returned when successful",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          }
        }
      }
    },
    "/repository-settings/{commitId}/cpes": {
      "get": {
        "description": "",
        "summary": "Lists all cpes from a specific commit.",
        "tags": [
          "Repository settings"
        ],
        "operationId": "list-commit-cpes",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "commitId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Id of the commit"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "default": 1,
            "type": "integer",
            "format": "int32",
            "description": "Which page to show results for, starting at 1"
          },
          {
            "name": "rowsPerPage",
            "in": "query",
            "required": false,
            "default": 25,
            "type": "integer",
            "format": "int32",
            "description": "Amount of rows per page"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Search by vendor or product"
          },
          {
            "name": "sortColumn",
            "in": "query",
            "required": true,
            "enum": [
              "part",
              "vendor",
              "product",
              "version",
              "update",
              "cpeId"
            ],
            "type": "string",
            "description": "Which column to sort result by"
          },
          {
            "name": "order",
            "in": "query",
            "required": true,
            "enum": [
              "asc",
              "desc"
            ],
            "type": "string",
            "description": "Sorting order, asc or desc"
          }
        ],
        "responses": {
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          }
        }
      }
    },
    
    "/repository-settings/repositories/{repositoryId}/enable-app-scanning/{enableScanning}": {
      "patch": {
        "description": "",
        "summary": "Enable/disable GitHub App dependency scanning.",
        "tags": [
          "Repository settings"
        ],
        "operationId": "Enable/disableGitHubAppdependencyscanning.",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "repositoryId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Id of repository to change GitHub App scanning status for"
          },
          {
            "name": "enableScanning",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Enable/disable app scanning. 1 to enable, 0 to disable"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successful.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "403": {
            "description": "Returned when you do not have access to current operation",
            "headers": {}
          }
        }
      }
    },
    "/scan/scan-status": {
      "get": {
        "description": "",
        "summary": "Get the scan status of your repositories.",
        "tags": [
          "Scan"
        ],
        "operationId": "list-repositories-statuses",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "repositoryIds",
            "in": "query",
            "required": false,
            "type": "string",
            "pattern": "^\\d[,\\d]*$",
            "description": "The ids of the repositories that should be checked, seperated by comma, leave empty to return all"
          },
          {
            "name": "commitId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Specify which commitId to check for."
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successful, a JSON encoded array consisting of repository information.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          }
        }
      }
    },
    "/scan/latest-scan-status": {
      "get": {
        "description": "",
        "summary": "Get the status of your latest scan.",
        "tags": [
          "Scan"
        ],
        "operationId": "get-last-scan-status",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "repositoryIds",
            "in": "query",
            "required": false,
            "type": "string",
            "pattern": "^\\d[,\\d]*$",
            "description": "The ids of the repositories that should be checked, seperated by comma, leave empty to return all."
          },
          {
            "name": "commitId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Specify which commitId to check for."
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successful, a JSON encoded array consisting of repository information.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          }
        }
      }
    },
    "/scan/remaining-scans": {
      "get": {
        "description": "",
        "summary": "Get the data for remaining scans.",
        "tags": [
          "Scan"
        ],
        "operationId": "list-remaining-scans",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returned when successful, a JSON encoded object remaining scans data.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          }
        }
      }
    },
    "/repositories/get-repositories": {
      "get": {
        "description": "",
        "summary": "Get a list of your repositories and an overview of their vulnerabilities",
        "tags": [
          "Repositories"
        ],
        "operationId": "list-repositories-vulnerability-overviews",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "default": 1,
            "type": "integer",
            "format": "int32",
            "description": "Which page to show results for, starting at 1"
          },
          {
            "name": "rowsPerPage",
            "in": "query",
            "required": false,
            "default": 25,
            "type": "integer",
            "format": "int32",
            "description": "Amount of rows per page"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Search by repository name"
          },
          {
            "name": "sortColumn",
            "in": "query",
            "required": false,
            "enum": [
              "name",
              "totalVulnerabilities",
              "vulnerabilitiesWithExploits"
            ],
            "type": "string",
            "pattern": ".+",
            "description": "Which column to sort results by"
          },
          {
            "name": "order",
            "in": "query",
            "required": true,
            "enum": [
              "asc",
              "desc"
            ],
            "type": "string",
            "description": "Sorting order, asc or desc"
          },
          {
            "name": "group",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Group ID to select from"
          },
          {
            "name": "generateExcel",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Generate excel report"
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The email address of the recipient of the finished report. If not set the email of the current authorized user will be used"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successfully fetched all the repositories",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          }
        }
      }
    },
    "/repositories/get-repositories-names-links": {
      "get": {
        "description": "",
        "summary": "Get a list of your repositories and id",
        "tags": [
          "Repositories"
        ],
        "operationId": "list-repositories-names-links",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returned when successfully fetched all the repositories",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          }
        }
      }
    },
    "/repositories/get-repositories-names-links-excluding-manual-uploads": {
      "get": {
        "description": "",
        "summary": "Get a list of your integrated repositories and id, excluding manual uploads (uploads done in UI). If there is no integrated repos, amount of manual uploads are returned.",
        "tags": [
          "Repositories"
        ],
        "operationId": "list-integrated-repositories-or-manual-uploads",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returned when successfully fetched all the repositories",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          }
        }
      }
    },
    "/repositories/get-by-groups": {
      "get": {
        "description": "",
        "summary": "Get a list of repository ids by groups ids",
        "tags": [
          "Repositories"
        ],
        "operationId": "list-repository-ids-by-groups",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "groupIds",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The ids of the groups that should be checked, seperated by comma, leave empty to return all."
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successfully fetched the repositories by groups ids",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          }
        }
      }
    },

    "/repository/{repositoryId}/branch/{branchId}/get-pr-status": {
      "get": {
        "description": "",
        "summary": "Get the pull request status of a repository and branch",
        "tags": [
          "Repository"
        ],
        "operationId": "get-pull-request-status-of-repository-and-branch",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "repositoryId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "The ID of the repository in question"
          },
          {
            "name": "branchId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "The ID of a specific desired branch"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successful.",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "404": {
            "description": "Returned when repository is not found",
            "headers": {}
          }
        }
      }
    },
    "/repository/{repositoryId}/branch/{branchId}/get-pr-progress": {
      "get": {
        "description": "",
        "summary": "Get the pull request progress of a repository and branch",
        "tags": [
          "Repository"
        ],
        "operationId": "get-pull-request-status",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "repositoryId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "The ID of the repository in question"
          },
          {
            "name": "branchId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "The ID of a specific desired branch"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successful.",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "404": {
            "description": "Returned when repository is not found",
            "headers": {}
          }
        }
      }
    },
    
    
    "/repository/{repositoryId}/get-branches": {
      "get": {
        "description": "",
        "summary": "Get the avaiable branches for a repository",
        "tags": [
          "Repository"
        ],
        "operationId": "list-available-repository-branches",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "repositoryId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "The ID of the repository in question"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successful.",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "404": {
            "description": "Returned when repository is not found",
            "headers": {}
          }
        }
      }
    },
    "/repository/{repositoryId}/pull-request-availability": {
      "get": {
        "description": "",
        "summary": "Get info about PR availability",
        "tags": [
          "Repository"
        ],
        "operationId": "get-pull-request-availability",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "repositoryId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "The ID of the repository in question"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successful.",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "404": {
            "description": "Returned when repository is not found",
            "headers": {}
          }
        }
      }
    },
    "/commits/get-commits": {
      "get": {
        "description": "",
        "summary": "Get a list of your commits",
        "tags": [
          "Commits"
        ],
        "operationId": "list-commits",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "default": 1,
            "type": "integer",
            "format": "int32",
            "description": "Which page to show results for, starting at 1"
          },
          {
            "name": "rowsPerPage",
            "in": "query",
            "required": false,
            "default": 25,
            "type": "integer",
            "format": "int32",
            "description": "Amount of rows per page"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "type": "string",
            "pattern": ".+",
            "description": "Search by commit name"
          },
          {
            "name": "sortColumn",
            "in": "query",
            "required": false,
            "enum": [
              "name",
              "releaseDate",
              "totalVulnerabilities",
              "vulnerabilitiesWithExploits",
              "author"
            ],
            "type": "string",
            "pattern": ".+",
            "description": "Which column to sort results by"
          },
          {
            "name": "order",
            "in": "query",
            "required": true,
            "enum": [
              "asc",
              "desc"
            ],
            "type": "string",
            "description": "Sorting order, asc or desc"
          },
          {
            "name": "repositoryId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The ID of the repository in question"
          },
          {
            "name": "branchId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The ID of a specific desired branch"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successfully fetched all the commits",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          }
        }
      }
    },
    "/releases/by/name": {
      "get": {
        "description": "",
        "summary": "Get info about releases with the given name.",
        "tags": [
          "Commits"
        ],
        "operationId": "list-releases-by-name",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string",
            "pattern": ".+",
            "description": "The name of the release(s) you want to get info of"
          },
          {
            "name": "productId",
            "in": "query",
            "required": false,
            "type": "string",
            "pattern": "\\d+",
            "description": "(Optional) The product which the release(s) belong to."
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successful.",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          }
        }
      }
    },
    "/dependencies/get-dependencies-hierarchy": {
      "get": {
        "description": "",
        "summary": "Get a list of your dependencies",
        "tags": [
          "Dependencies"
        ],
        "operationId": "list-dependencies-hierarchy",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "default": 1,
            "type": "integer",
            "format": "int32",
            "description": "Which page to show results for, starting at 1"
          },
          {
            "name": "rowsPerPage",
            "in": "query",
            "required": false,
            "default": 25,
            "type": "integer",
            "format": "int32",
            "description": "Amount of rows per page"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Search by dependency name"
          },
          {
            "name": "sortColumn",
            "in": "query",
            "required": true,
            "enum": [
              "name",
              "totalVulnerabilities",
              "licenses"
            ],
            "type": "string",
            "description": "Which column to sort results by"
          },
          {
            "name": "order",
            "in": "query",
            "required": true,
            "enum": [
              "asc",
              "desc"
            ],
            "type": "string",
            "description": "Sorting order, asc or desc"
          },
          {
            "name": "repositoryId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The ID of a specific desired repository"
          },
          {
            "name": "branchId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The ID of a specific desired branch"
          },
          {
            "name": "commitId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The ID of a specific desired commit"
          },
          {
            "name": "group",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The ID of a specific desired group. Overrides commitId and repositoryId if specified."
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successfully fetched all the dependencies",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          }
        }
      }
    },
    "/dependency/{dependencyId}/": {
      "get": {
        "description": "",
        "summary": "Get dependency information",
        "tags": [
          "Dependency"
        ],
        "operationId": "get-dependency-details",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dependencyId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "The ID of a specific desired dependency"
          },
          {
            "name": "repositoryId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Get repository specific data of the dependency"
          },
          {
            "name": "commitId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Get commit specific data of the dependency"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successful.",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "404": {
            "description": "Returned when dependency is not found",
            "headers": {}
          }
        }
      }
    },
    "/dependency/{dependencyId}/license-data": {
      "get": {
        "description": "",
        "summary": "Get dependency license data",
        "tags": [
          "Dependency"
        ],
        "operationId": "get-dependency-license-details",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "repositoryId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Repository to get license data of the dependency"
          },
          {
            "name": "branchId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Branch to select, if non provided will use all"
          },
          {
            "name": "commitId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Commit to select, if selected, repository and branch will be ignored"
          },
          {
            "name": "dependencyId",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "\\d+",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successful.",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "404": {
            "description": "Returned when dependency is not found",
            "headers": {}
          }
        }
      }
    },
    "/dependency/{dependencyId}/versions": {
      "get": {
        "description": "",
        "summary": "Get dependency versions",
        "tags": [
          "Dependency"
        ],
        "operationId": "get-dependency-versions",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "repositoryId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Repository to get the versions of the dependency"
          },
          {
            "name": "branchId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Branch to select, if non provided will use all"
          },
          {
            "name": "commitId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Commit to select, if selected, repository and branch will be ignored"
          },
          {
            "name": "dependencyId",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "\\d+",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successful.",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "404": {
            "description": "Returned when dependency is not found",
            "headers": {}
          }
        }
      }
    },
    "/dependency/{dependencyId}/hierarchy-status": {
      "get": {
        "description": "",
        "summary": "Returns whether the dependency is direct, indirect or both in the context of the repository",
        "tags": [
          "Dependency"
        ],
        "operationId": "get-dependency-hierarchy",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "repositoryId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Repository to get license data of the dependency"
          },
          {
            "name": "branchId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Branch to select, if non provided will use all"
          },
          {
            "name": "commitId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Commit to select, if selected, repository and branch will be ignored"
          },
          {
            "name": "dependencyId",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "\\d+",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successful.",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "404": {
            "description": "Returned when dependency is not found",
            "headers": {}
          }
        }
      }
    },
    "/dependency/{dependencyId}/repositories-and-branches": {
      "get": {
        "description": "",
        "summary": "Returns the repositories and branches which contain this dependency",
        "tags": [
          "Dependency"
        ],
        "operationId": "list-repositories-containing-dependency",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dependencyId",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "\\d+",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successful.",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "404": {
            "description": "Returned when dependency is not found",
            "headers": {}
          }
        }
      }
    },
    "/dependency/{dependencyId}/vulnerable-files": {
      "get": {
        "description": "",
        "summary": "Get the files containing a vulnerable version of this repository",
        "tags": [
          "Dependency"
        ],
        "operationId": "list-repository-vulnerable-files",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "repositoryId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Repository containing the files with the dependency"
          },
          {
            "name": "branchId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Branch to select, if non provided will use all"
          },
          {
            "name": "commitId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Commit to select, if selected, repository and branch will be ignored"
          },
          {
            "name": "dependencyId",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "\\d+",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successful.",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "404": {
            "description": "Returned when dependency is not found",
            "headers": {}
          }
        }
      }
    },
    "/dependency/{dependencyId}/dependency-trees": {
      "get": {
        "description": "",
        "summary": "Get the dependency trees for a given vulnerable dependency contained in a file",
        "tags": [
          "Dependency"
        ],
        "operationId": "list-vulnerable-dependency-dependency-trees",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "repositoryId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Repository containing the files with the dependency"
          },
          {
            "name": "branchId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Branch to select, if non provided will use all"
          },
          {
            "name": "commitId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Commit to select, if selected, repository and branch will be ignored"
          },
          {
            "name": "fileId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "File containing the vulnerable dependency"
          },
          {
            "name": "dependencyId",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "\\d+",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successful.",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "404": {
            "description": "Returned when dependency is not found",
            "headers": {}
          }
        }
      }
    },
    "/select-data/dependency-data/{dependencyId}": {
      "get": {
        "description": "",
        "summary": "Get open source select data relevant to the dependency. Note, as of 01/12/2023 it appears this endpoint will return 500 if it's unable to find the dependencyId.",
        "tags": [
          "Dependency"
        ],
        "operationId": "get-dependency-open-source-select-details",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dependencyId",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "\\d+",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successful.",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "404": {
            "description": "Returned when dependency is not found",
            "headers": {}
          }
        }
      }
    },
    "/select-data/dependency-metrics/{dependencyId}": {
      "get": {
        "description": "",
        "summary": "Get open source select metrics relevant to the dependency",
        "tags": [
          "Dependency"
        ],
        "operationId": "get-dependency-open-source-select-metrics",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dependencyId",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "\\d+",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successful.",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "404": {
            "description": "Returned when dependency is not found",
            "headers": {}
          }
        }
      }
    },
    "/vulnerabilities/get-vulnerabilities": {
      "get": {
        "description": "",
        "summary": "Get a list of your vulnerabilities",
        "tags": [
          "Vulnerabilities"
        ],
        "operationId": "list-vulnerabilities",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "default": 1,
            "type": "integer",
            "format": "int32",
            "description": "Which page to show results for, starting at 1"
          },
          {
            "name": "rowsPerPage",
            "in": "query",
            "required": false,
            "default": 25,
            "type": "integer",
            "format": "int32",
            "description": "Amount of rows per page"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "type": "string",
            "pattern": ".+",
            "description": "Search by vulnerability name"
          },
          {
            "name": "sortColumn",
            "in": "query",
            "required": false,
            "enum": [
              "name",
              "discovered",
              "cvss"
            ],
            "type": "string",
            "pattern": ".+",
            "description": "Which column to sort results by"
          },
          {
            "name": "order",
            "in": "query",
            "required": true,
            "enum": [
              "asc",
              "desc"
            ],
            "type": "string",
            "description": "Sorting order, asc or desc"
          },
          {
            "name": "repositoryId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The ID of a specific desired repository"
          },
          {
            "name": "branchId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The ID of a specific desired branch"
          },
          {
            "name": "dependencyId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The ID of a specific desired dependency"
          },
          {
            "name": "commitId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The ID of a specific desired commit"
          },
          {
            "name": "group",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The ID of a specific desired group"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successfully fetched all the vulnerabilities",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          }
        }
      }
    },
    "/vulnerability/{vulnerabilityId}/cvesummary": {
      "get": {
        "description": "",
        "summary": "Get a risk summary of a CVE.",
        "tags": [
          "Vulnerability"
        ],
        "operationId": "get-vulnerability-cve-summary",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vulnerabilityId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Vulnerability ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successful.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          }
        }
      }
    },
    "/vulnerability/{vulnerabilityId}/cvssdetails": {
      "get": {
        "description": "",
        "summary": "Get the CVSS details for a specific CVE.",
        "tags": [
          "Vulnerability"
        ],
        "operationId": "get-vulnerability-cvss-score",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vulnerabilityId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Vulnerability ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successful.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          }
        }
      }
    },
    "/vulnerability/{vulnerabilityId}/refsummary": {
      "get": {
        "description": "",
        "summary": "Get summaries from sources, including CWE, for a vulnerability.",
        "tags": [
          "Vulnerability"
        ],
        "operationId": "get-vulnerability-reference-summary",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vulnerabilityId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Vulnerability ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successful.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          }
        }
      }
    },
    "/vulnerability/{vulnerabilityId}/review-status": {
      "get": {
        "description": "",
        "summary": "Get review status for a vulnerability for all repositories.",
        "tags": [
          "Vulnerability"
        ],
        "operationId": "get-vulnerability-review-status",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vulnerabilityId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Vulnerability ID."
          },
          {
            "name": "repositoryId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Repository ID. If specified, comment when setting status for this vulnerability and repository will be returned"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successfully fetched the review status",
            "schema": {
              "$ref": "#/definitions/VulnerabilityReviewStatusResponse"
            },
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          }
        }
      }
    },
    
    "/vulnerability/{vulnerabilityId}/pause-status": {
      "get": {
        "description": "",
        "summary": "Get pause and snooze status. If pause status is empty it is enabled",
        "tags": [
          "Vulnerability"
        ],
        "operationId": "get-vulnerability-pause-status",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vulnerabilityId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Vulnerability ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successful.",
            "headers": {}
          },
          "404": {
            "description": "Returned when not authorized",
            "headers": {}
          }
        }
      }
    },
    "/vulnerability/{vulnerabilityId}/cveid": {
      "get": {
        "description": "",
        "summary": "Get the CVE ID from a vulnerability ID.",
        "tags": [
          "Vulnerability"
        ],
        "operationId": "get-vulnerability-cve-id",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vulnerabilityId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Vulnerability ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successful.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          }
        }
      }
    },
    "/vulnerability/{vulnerabilityId}/tags": {
      "get": {
        "description": "",
        "summary": "Get the related tags for a vulnerability.",
        "tags": [
          "Vulnerability"
        ],
        "operationId": "get-vulnerability-related-tags",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vulnerabilityId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Vulnerability ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successful.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          }
        }
      }
    },
    "/vulnerability/{vulnerabilityId}/dates": {
      "get": {
        "description": "Here, we can switch between using the vulnDB or not (isDatabase). If true, we return data from\ne.g. NVD such as published date and updated date. If false, we return the date at which the\nvulnerability was discovered by us in the repo.",
        "summary": "Get the relevant dates for a vulnerability.",
        "tags": [
          "Vulnerability"
        ],
        "operationId": "get-vulnerability-dates",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vulnerabilityId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Vulnerability ID."
          },
          {
            "name": "isDatabase",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Use vulnerability database. If false, it returns the date at which the vulnerability was found in the repo. If true, it returns the published/updated data from e.g., NVD"
          },
          {
            "name": "repositoryId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Repository ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successful.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          }
        }
      }
    },
    "/vulnerability/{vulnerabilityId}/references": {
      "get": {
        "description": "",
        "summary": "Get the relevant references for a vulnerability.",
        "tags": [
          "Vulnerability"
        ],
        "operationId": "get-vulnerability-references",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vulnerabilityId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Vulnerability ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successfully fetched the remediation status",
            "schema": {
              "$ref": "#/definitions/VulnerabilityReferencesResponse"
            },
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          }
        }
      }
    },
    "/vulnerability/{vulnerabilityId}/affected-dependencies": {
      "get": {
        "description": "",
        "summary": "Get the affected dependencies for a vulnerability.",
        "tags": [
          "Vulnerability"
        ],
        "operationId": "get-vulnerability-affected-dependencies",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vulnerabilityId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Vulnerability ID."
          },
          {
            "name": "isDatabase",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Use vulnerability database. If false, it returns the date at which the vulnerability was found in the repo. If true, it returns the published/updated data from e.g., NVD"
          },
          {
            "name": "repositoryId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Repository ID."
          },
          {
            "name": "commitId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Commit ID."
          },
          {
            "name": "branchId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Branch ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successful.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          }
        }
      }
    },
    "/vulnerability/{vulnerabilityId}/vulnerable-timeline": {
      "get": {
        "description": "",
        "summary": "Returns vulnerable status for each versions of the affected dependencies in a timeline fashion",
        "tags": [
          "Vulnerability"
        ],
        "operationId": "get-vulnerability-status-timeline",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vulnerabilityId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Vulnerability ID."
          },
          {
            "name": "repositoryId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Repository ID. When specified it will narrow down only to dependencies present in the repository"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successfully fetched the vulnerable timeline",
            "schema": {
              "$ref": "#/definitions/VulnerabilityTimelinesModel"
            },
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          }
        }
      }
    },
    "/vulnerability/{vulnerabilityId}/files/{fileId}/dependency-tree": {
      "get": {
        "description": "",
        "summary": "Get the dependency tree for a given vulnerability and file present in a repository. Other than the required parameters, either repositoryId or commitId has to be set",
        "tags": [
          "Vulnerability"
        ],
        "operationId": "get-vulnerability-file-dependency-tree",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vulnerabilityId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Vulnerability ID."
          },
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "File ID."
          },
          {
            "name": "repositoryId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Repository ID."
          },
          {
            "name": "commitId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Commit ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successful.",
            "headers": {}
          },
          "204": {
            "description": "No trees for given parameters.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "500": {
            "description": "Returned if unexpected error occured",
            "headers": {}
          }
        }
      }
    },
    "/vulnerability/{vulnerabilityId}/files": {
      "get": {
        "description": "",
        "summary": "Get information about the files affected by the vulnerability. Other than the required paramteres, either reposiotoryId or commitId has to be set.",
        "tags": [
          "Vulnerability"
        ],
        "operationId": "get-vulnerability-files",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vulnerabilityId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Vulnerability ID."
          },
          {
            "name": "repositoryId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Repository ID, to fetch information only from a specified repository"
          },
          {
            "name": "commitId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Commit ID, to fetch information only from a specified commit"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successfully fetched files",
            "schema": {
              "type": "array",
              "default": "",
              "items": {
                "$ref": "#/definitions/DependencyFile"
              }
            },
            "headers": {}
          },
          "204": {
            "description": "No vulnerable files for given parameters.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          }
        }
      }
    },
    "/vulnerability/{vulnerabilityId}/repository-information": {
      "get": {
        "description": "Information includes: examined status, name of repo, link.",
        "summary": "Get information about the repositories affected by the vulnerability.",
        "tags": [
          "Vulnerability"
        ],
        "operationId": "get-vulnerability-repository-information",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vulnerabilityId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Vulnerability ID."
          },
          {
            "name": "repositoryId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Repository ID, to fetch information only from a specified repository"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successful.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          }
        }
      }
    },
    "/vulnerability/{vulnerabilityId}/activity/{repositoryId}": {
      "get": {
        "description": "",
        "summary": "Retrieve all activity related to the vulnerability in the repository.",
        "tags": [
          "Vulnerability"
        ],
        "operationId": "list-vulnerability-repository-activities",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "repositoryId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Repository ID."
          },
          {
            "name": "vulnerabilityId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Vulnerability ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successful.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          }
        }
      }
    },
    "/vulnerability/{vulnerabilityId}/repository/{repositoryId}/commit/{commitId}/pull-request/status": {
      "get": {
        "description": "",
        "summary": "Get pull request status.",
        "tags": [
          "Vulnerability"
        ],
        "operationId": "get-vulnerability-repository-commit-pull-request-status",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "repositoryId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Repository ID."
          },
          {
            "name": "commitId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Commit ID."
          },
          {
            "name": "vulnerabilityId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Vulnerability ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successful.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          }
        }
      }
    },
    "/vulnerability/{vulnerabilityId}/repository/{repositoryId}/commit/{commitId}/pull-request/progress": {
      "get": {
        "description": "",
        "summary": "Get pull request progress info.",
        "tags": [
          "Vulnerability"
        ],
        "operationId": "get-vulnerability-repository-commit-pull-request-progress",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "repositoryId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Repository ID."
          },
          {
            "name": "commitId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Commit ID."
          },
          {
            "name": "vulnerabilityId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Vulnerability ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successful.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          }
        }
      }
    },
      
    "/vulnerability/{vulnerabilityId}/pullrequest/{commitId}/receiptdata": {
      "get": {
        "description": "",
        "summary": "Get pull request receipt data.",
        "tags": [
          "Vulnerability"
        ],
        "operationId": "get-vulnerability-pull-request-commit-receipt-data",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "commitId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Commit ID."
          },
          {
            "name": "vulnerabilityId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Vulnerability ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successful.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          }
        }
      }
    },
    "/vulnerability/{vulnerabilityId}/repositories/{repositoryId}/root-fixes": {
      "get": {
        "description": "",
        "summary": "Get root fixes for concrete vulnerability for all files in the repository that are vulnerable.",
        "tags": [
          "Vulnerability"
        ],
        "operationId": "get-vulnerability-repository-root-fixes",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "repositoryId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Repository ID."
          },
          {
            "name": "vulnerabilityId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Vunerability ID."
          },
          {
            "name": "commitId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Commit ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successful.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          }
        }
      }
    },
    "/repository-groups/": {
      "get": {
        "description": "",
        "summary": "Get all the owned groups",
        "tags": [
          "Repository groups"
        ],
        "operationId": "get-owned-repository-groups",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returned when successfully fetched all the groups",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          }
        }
      }
    },
    
    "/repository-groups/get-repositories": {
      "get": {
        "description": "",
        "summary": "Get repositories contained in a group",
        "tags": [
          "Repository groups"
        ],
        "operationId": "list-repository-groups-repositories",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "current",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "ID of the desired current group"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successfully fetched all the repositories under a group",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "404": {
            "description": "Returned when the current group is not found",
            "headers": {}
          }
        }
      }
    },
      
      
      
    "/access-tokens/": {
      "get": {
        "description": "",
        "summary": "Get a paginated list of your company's access tokens",
        "tags": [
          "Access tokens"
        ],
        "operationId": "list-access-tokens",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "default": 1,
            "type": "integer",
            "format": "int32",
            "description": "Which page to show results for, starting at 1"
          },
          {
            "name": "rowsPerPage",
            "in": "query",
            "required": false,
            "default": 25,
            "type": "integer",
            "format": "int32",
            "description": "Amount of rows per page"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "type": "string",
            "pattern": ".+",
            "description": "Search by access token description"
          },
          {
            "name": "sortColumn",
            "in": "query",
            "required": false,
            "enum": [
              "description",
              "created",
              "accessScopes"
            ],
            "type": "string",
            "pattern": ".+",
            "description": "Which column to sort results by"
          },
          {
            "name": "order",
            "in": "query",
            "required": true,
            "enum": [
              "asc",
              "desc"
            ],
            "type": "string",
            "description": "Sorting order, asc or desc"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successfully fetched list",
            "schema": {
              "$ref": "#/definitions/AccessTokensResponse"
            },
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          }
        }
      }
    },
    
    "/automations/rules-count": {
      "get": {
        "description": "",
        "summary": "Get a count of your automations rules",
        "tags": [
          "Automations"
        ],
        "operationId": "get-automation-rules-count",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "repositoryIds",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The ids of the repositories that should be checked, seperated by comma, leave empty to return all"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when successfully calculated the count of rules",
            "schema": {
              "$ref": "#/definitions/AutomationsRulesCountResponse"
            },
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "404": {
            "description": "Returned when repository is not found",
            "headers": {}
          }
        }
      }
    },
    
    "/user-profile/is-admin": {
      "get": {
        "description": "",
        "summary": "Checks whether user is an admin or not",
        "tags": [
          "User profile"
        ],
        "operationId": "check-if-user-is-admin",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returned when successful.",
            "headers": {}
          },
          "401": {
            "description": "Returned when authorisation fails, such as missing JWT-token, insufficient privileges or expired JWT-token. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          },
          "400": {
            "description": "Returned when required data is missing or given data is invalid. Look at the response body's message to know exactly what went wrong.",
            "headers": {}
          }
        }
      }
    },
    "/user-profile/get-user-info": {
      "get": {
        "description": "",
        "summary": "Returns full user name, email and billing plan",
        "tags": [
          "User profile"
        ],
[...]
